      <ion-grid *ngIf="!successfulScan">
          
            <ion-row >
              <ion-col>
                  <img src="../../../assets/img/barcode-dummy-img.png">
              </ion-col>
            </ion-row>
        <ion-row *ngIf="scanTries<=3">
            <ion-col >
                <ion-button color="dark ion-activatable" (click)="scanCode()">
                    {{scanTries==0 ? 'Scan Bar/Qr Code' : 'Retry'}}
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-button>
            </ion-col>
           
          </ion-row>
          <ion-row >
            <ion-col>
                <ion-list >
                    <ion-item>
                      <ion-label floating>Card Number</ion-label>
                      <ion-input [(ngModel)]="scannedData.text"  type="text"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="scannedData.text !=''">
            <ion-col>
                <ion-button color="dark" (click)="handleManualCardNumber()">
                    Submit
                </ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
      <ion-grid *ngIf="successfulScan">
        <ion-row>
          <ion-col text-right>
              <ion-icon name="close-circle" (click)="handleBarCodeClose()">
                  <ion-ripple-effect></ion-ripple-effect>
              </ion-icon>
              
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ngx-barcode [bc-value]="scannedData.text" [bc-display-value]="successfulScan"></ngx-barcode>
          </ion-col>
        </ion-row>
      </ion-grid>
 
