<ion-header color="primary">
  <ion-toolbar>
    <ion-title >Add Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row center>
        <ion-item-divider>
      <ion-col text-center>
          <bar-code [(scannedData)]="scannedData" [updateBarCodeResult] = "updateBarCodeResultFunc"></bar-code>
      </ion-col>
    </ion-item-divider>
    </ion-row>
    <ion-row center *ngIf="showCompanyDetails">
        <ion-col text-center>
          <company-details [(company)] = "company" [updateCompanyDetails]="updateCompanyDetailsFunc"></company-details>
        </ion-col>
    </ion-row>
    <ion-row center *ngIf="cardDetails.barCode.text!='' && cardDetails.company.org!=''">
        <ion-col text-center>
                <ion-button color="dark" (click)='handleDoneClick($event)'>Done</ion-button>
        </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
